body {
    background-color: #121212;
    color: blanchedalmond;
    text-align: justify;
    zoom: 150%;
}

img {
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    background-color: #512DA8;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.prev, nav, .navlink {
    font-size: xx-large;
    background-color: #536DFE;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

nav {
    font-size: large;
    background-color: #000000;
    display: flex; /* Add flex display */
    justify-content: space-between; /* Distribute items evenly */
}

.navlink {
    background-color: #D1C4E9;
    color: #212121;
    font-size: medium;
    text-decoration: none;
    padding: 5px 10px;
    background-clip: padding-box; /* Set background-clip to padding-box */
    overflow: hidden; /* Add overflow: hidden; */
    margin-top: 2%;
}

.recipe {
    font-size: xx-large;
    color: #673AB7;
}
